body{
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/*-- 1. Diseño de la barra --*/
.barra{
    padding: 18px 0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nada{
    width: 33%;
}

/*-- 1.1. Diseño del logo central --*/
.logo{
    width: 33%;

    display: flex;
    justify-content: center;
}

.logo img{
    width: 40%;
}

/*-- 1.2. Diseño del boton para ir al login --*/
.login{
    width: 33%;

    display: flex;
    justify-content: end;
}

.login button{
    background-color: transparent;
    margin: 0;
    padding: 10px;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 3px;

    cursor: pointer;
}

.login button:hover{
    background-color: #cc3917;
    color: rgba(240,240,232,255);
}

/*-- 1.3. Diseño del navegador --*/
hr{
    width: 95%;
    height: 1px;
    background-color: #8f859e;
    border: none;
}

.contenedor-navegador{
    padding: 10px 0;

    position: sticky;
    top: 0;
    z-index: 1;

    transition: 0.1s;
}

.contenedor-navegador.abajo{
    background-color: white;
    padding: 15px 0;
    box-shadow:  0 0 28px 0 #a1a1a1;
}

.navegador{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.navegador a{
    color: #151515;
    font-size: 20px;
    text-decoration: none;
}

.navegador a:hover{
    color: #cc3917;
}

.separador{
    margin: 15em;
    background-color: white;
}

.nosotros{
    width: 100%;
    height: 304px;
    background-color: #e3e3e3;
    margin-bottom: 15em;
    box-shadow:  27px 27px 18px #b8b8b8, -27px -27px 18px #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros img{
    width: 30%;
}

.sesion-dos{
    margin-bottom: 15em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
}

.texto{
    width: 546px;
    margin-right: 8em;
    font-size: 20px;
}

.texto p{
    text-align: justify;
}

.imagen{
    width: 546px;
    margin-left: 8em;
}

.sesion-tres{
    width: 100%;
    background-color: #e3e3e3;
    padding: 3em 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sesion-tres h1{
    font-size: 35px;
}

.fotos{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.fotos img{
    width: 400px;
}

/*-- . Diseño del pie de página --*/
footer{
    width: 100%;
    background-color: #e3e3e3;
    padding: 4em 0;

    display: flex;
    justify-content: space-evenly;
}

.horario .direccion{
    width: 19em;
    background-color: #cc3917;
}