body{
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/*-- 1. Diseño de la barra --*/
.barra{
    padding: 18px 0;
    color: rgba(240,240,232,255);

    display: flex;
    justify-content: center;
    align-items: center;
}

.nada{
    width: 33%;
}

/*-- 1.1. Diseño del logo central --*/
.logo{
    width: 33%;

    display: flex;
    justify-content: center;
}

.logo img{
    width: 40%;
}

/*-- 1.2. Diseño del boton para ir al login --*/
.login{
    width: 33%;

    display: flex;
    justify-content: end;
}

.login button{
    background-color: transparent;
    margin: 0;
    padding: 10px;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 3px;

    cursor: pointer;
}

.login button:hover{
    background-color: #cc3917;
    color: rgba(240,240,232,255);
}

/*-- 1.3. Diseño del navegador --*/
hr{
    width: 95%;
    height: 1px;
    background-color: #8f859e;
    border: none;
}

.contenedor-navegador{
    padding: 10px 0;

    position: sticky;
    top: 0;
    z-index: 1;

    transition: 0.1s;
}

.contenedor-navegador.abajo{
    background-color: white;
    padding: 15px 0;
    box-shadow:  0 0 28px 0 #a1a1a1;
}

.navegador{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.navegador a{
    color: #151515;
    font-size: 20px;
    text-decoration: none;
}

.navegador a:hover{
    color: #cc3917;
}

/*-- 2. Diseño del buscador --*/
.contenedor-buscador{
    width: 100%;
    padding: 4em 0;
    margin-bottom: 11em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.buscador{
    width: 50%;
    height: 80px;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid #cc3917;
    border-radius: 50px;

    display: flex;
    justify-content: center;
}

.form-buscador{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fecha-desde, .fecha-hasta, .habitacion,.personas{
    width: 23%;
    height: 100%;
    padding-left: 15px;
    border-radius: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fecha-desde:hover, .fecha-hasta:hover, .habitacion:hover,.personas:hover{
    background-color: #e3e3e3;
}

input, select{
    width: 80%;
    background-color: transparent;
    color: rgb(92, 91, 91);
    font-size: 13px;
    border: none;
}
/*-- 2.1. Diseño del boton del buscador --*/
.boton-buscador{
    width: 50px;
    height: 50px;
    background-color: #cc3917;
    margin-right: 15px;
    border-radius:50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.boton-buscador img{
    width: 20px;
    height: 20px;
}

.boton-buscador button{
    background-color: transparent;
    border: none;

    cursor: pointer;
}

/*-- contenedor segunda parte de la página (carrusel y texto) --*/

.sesion-dos{
    width: 100%;
    margin-bottom: 12em;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/*-- 3.1. Diseño del carrusel --*/
.contenedor-carrusel{
    width: 60%;
    margin: 0 0 0 8em;

    overflow: hidden;
}

.carrusel{
    width: 400%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all .5s ease;
    transform: translateX(0%);
}

.carrusel img{
    width: calc(100% / 4);
    min-height: 10vh;
}

.circulitos{
    width: 100%;
    margin: 1em 0 0 2em;
    padding: .4em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    transform: translateY(-4em)
}

.circulitos li{
    list-style: none;
}

.circulo{
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.5em 0;

    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    cursor: pointer;
}

.activo{
    background: linear-gradient(145deg, #cacaca, #cc3917);
    border-radius: 50px;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

/*-- 3.2. Diseño del texto --*/
.contenedor-texto{
    width: 28%;
    background-color: #e3e3e3;
    margin: 0 8em 3.4em 0;
    
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-texto p{
    margin: 2em;
    font-size: 25px;
    text-align: justify;
}

/*-- 4. Diseño la sesion tres (piscina) --*/
.sesion-tres{
    width: 100%;
    background-color: #e3e3e3;
    padding: 8em 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
}

.texto{
    width: 546px;
    margin-left: 8em;
    font-size: 20px;
}

.texto p{
    font-size: 20px;
    text-align: justify;
}

.imagen{
    width: 546px;
    margin-right: 8em;
}

.fin{
    margin: 15em;
    background-color: white;
}

/*-- . Diseño del pie de página --*/
footer{
    width: 100%;
    background-color: #e3e3e3;
    padding: 4em 0;

    display: flex;
    justify-content: space-evenly;
}

.horario .direccion{
    width: 19em;
    background-color: #cc3917;
}