body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

.barra{
    padding: 18px 0;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nada{
    width: 33%;
}

/*-- 1.1. Diseño del logo central --*/
.logo{
    width: 33%;

    display: flex;
    justify-content: center;
}

.logo img{
    width: 40%;
}

/*-- 1.3. Diseño del navegador --*/
hr{
    width: 95%;
    height: 1px;
    background-color: #8f859e;
    border: none;
}

.contenedor-navegador{
    padding: 10px 0;

    position: sticky;
    top: 0;
    z-index: 1;

    transition: 0.1s;
}

.contenedor-navegador.abajo{
    background-color: white;
    padding: 15px 0;
    box-shadow:  0 0 28px 0 #a1a1a1;
}

.navegador{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.navegador a{
    color: #151515;
    font-size: 20px;
    text-decoration: none;
}

.navegador a:hover{
    color: #cc3917;
}

.separador{
    margin: 15em;
    background-color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rojo{
    color: white;
    background-color: #cc3917;
}

.logos{
    width: 100%;
    margin: 7em 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#logo1{
    width: 25%;
}

#logo2{
    width: 70%;
}

.rojo a {
    color: white;
    text-decoration: none;
    font-size: 16px;

    cursor: pointer;
}

.rojo a:hover {
    color: #e3e3e3;
}

.gris {
    background-color: #e3e3e3;
    position: relative;
    top: 40px; 
    right: 40px;
}

.usuario{
    margin-bottom: 15px;
    text-align: left;
}

.usuario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.usuario input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
}

.gris a {
    color: black;
}

.gris a:hover {
    color: #cc3917;
}

button {
    background-color:#cc3917;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(240,240,232,255);
    color: #2b2823;
}